<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Kind</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>01</td>
        <td>Jira</td>
        <td>Husky</td>
        <td>{{price}}</td>
        <td style="display: flex; justify-content: space-around; width: 150px;"><button (click)="Tinhtien(3000)">+   </button>{{total}} <button (click)="Tinhtien2(3000)">-</button></td>
    </tr>
    <tr>
        <td>02</td>
        <td>Kira</td>
        <td>LongTail Cat</td>
        <td>{{price}}</td>
        <td style="display: flex; justify-content: space-around; width: 150px;"><button (click)="Tinhtien(3000)">+   </button>{{total}} <button (click)="Tinhtien2(3000)">-</button></td>

    </tr>
    <tr>
        <td>03</td>
        <td>Lulu</td>
        <td>Pug</td>
        <td>{{price}}</td>
        <td style="display: flex; justify-content: space-around; width: 150px;"><button (click)="Tinhtien(3000)">+   </button>{{total}} <button (click)="Tinhtien2(3000)">-</button></td>

    </tr>
</table>
