<ul>
    <li>
        <h4>Cat</h4>
        <img src="../../../assets/imgs/cat.jpeg" alt="">
        <details>
            <summary>Detail</summary>
            <p>Mèo lông ngắn Anh là phiên bản nhân giống có chọn lọc của mèo nhà Anh truyền thống với những đặc điểm như thân hình mũm mĩm,
         lông ngắn và dày cùng với khuôn mặt to. Màu sắc phổ biến nhất là màu xám xanh với mắt màu vàng đồng,</p>
        </details>
    </li>
    <li>
        <h4>Dog</h4>
        <img src="../../../assets/imgs/download (1).jpeg" alt="">
        <details>
         <summary>Details</summary>
         <p>Chó Husky Sibir là một giống chó cỡ trung thuộc nòi chó kéo xe có nguồn gốc từ vùng Đông Bắc Sibir, Nga. Xét theo đặc điểm di truyền, chó Husky được xếp vào dòng Spitz.
     Chó Husky có hai lớp lông dày, tai dựng hình tam giác và thường có những điểm nhận dạng khác nhau trên lông</p>
        </details>
    </li>
    <li>
        <h4>Hamster</h4>
        <img src="../../../assets/imgs/hamster.jpeg" alt="">
        <details>
            <summary>Details</summary>
            <p>Chuột hams hay hamster, chuột đuôi cụt, hay còn gọi là chuột đất vàng, trong từ điển dịch là chuột hang vì là loài thường hay đào hang,
         là một loài động vật gặm nhấm thuộc phân họ Cricetinae, bao gồm 25 loài thuộc 6 hoặc 7 chi khác nhau.</p>
        </details>
    </li>
    <li>
        <h4>Fox</h4>
        <img src="../../../assets/imgs/fox.jpeg" alt="">
        <details>
            <summary>Details</summary>
            <p>Cáo Bắc Cực, còn có tên cáo trắng hay cáo tuyết, là một loài cáo nhỏ có nguồn gốc từ vùng Bắc Cực ở Bắc bán cầu và thường sống tại quần xã ở đài nguyên Bắc Cực. Loài cáo này thích nghi tốt với môi trường lạnh.
         Chúng sở hữu bộ lông dày có màu nâu vào mùa hạ và chuyển sang màu trắng vào mùa đông.</p>
        </details>
    </li>
</ul>
